<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">  
<plist version="1.0">
<dict>  
    <key>items</key>  
    <array>  
        <dict>  
            <key>assets</key>  
            <array>  
                <dict>  
                    <key>kind</key>  
                    <string>software-package</string>  
                    <key>url</key>  
                    <string>http://61.139.100.90:8888/isodown/Huvis.ipa</string>  
                </dict>  
                <dict>  
                    <key>kind</key>  
                    <string>full-size-image</string>  
                    <key>needs-shine</key>  
                    <true/>  
                    <key>url</key>  
                    <string>http://61.139.100.90:8888/hvcar/static/app-iPhone@2x.png</string>  
                </dict>  
                <dict>  
                    <key>kind</key>  
                    <string>display-image</string>  
                    <key>needs-shine</key>  
                    <true/>  
                    <key>url</key>  
                    <string>http://61.139.100.90:8888/hvcar/static/app-iPhone@3x.png</string>  
                </dict>  
            </array>  
            <key>metadata</key>  
            <dict>  
                <key>bundle-identifier</key>  
                <string>com.sk.huvis</string>  
                <key>bundle-version</key>  
                <string>1.2.1</string>  
                <key>kind</key>  
                <string>software</string>  
                <key>title</key>  
                <string>Huvis</string>  
            </dict>  
        </dict>  
    </array>  
</dict>  
</plist>  
